<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link href="~/Content/fonts/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="~/Content/css/orionicons.css">
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.min.css" rel="stylesheet" />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.blue.css" id="theme-stylesheet">
    @*<link rel="stylesheet" href="~/Content/css/style.default.css" id="theme-stylesheet">
        <link rel="stylesheet" href="~/Content/css/style.green.css" id="theme-stylesheet">
        <link rel="stylesheet" href="~/Content/css/style.pink.css" id="theme-stylesheet">
        <link rel="stylesheet" href="~/Content/css/style.red.css" id="theme-stylesheet">
        <link rel="stylesheet" href="~/Content/css/style.sea.css" id="theme-stylesheet">
        <link rel="stylesheet" href="~/Content/css/style.violet.css" id="theme-stylesheet">*@
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <link href="~/Scripts/vendor/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/Select2/css/select2.min.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/RIGHT ONE MANAGEMENT CONSULTANCY final logo.png">
</head>
<body>
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/SweetAlert.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/vendor/Select2/js/select2.full.min.js"></script>
   @{ 
           string active = Convert.ToString(ViewBag.active);
           string MyCompany = null;
           string ManageAdmins = null;
           string ManageCompanies = null;
           string CompanyOwners = null;
           string ProServices = null;
           string AddDocumentsTypes = null;
           string SelectMyCompany = null;
           string Invoices = null;
           switch (active)
           {
               case "MyCompany":
                   MyCompany = "active";
                   break;
               case "ManageAdmins":
                   ManageAdmins = "active";
                   break;
               case "ManageCompanies":
                   ManageCompanies = "active";
                   break;
               case "CompanyOwners":
                   CompanyOwners = "active";
                   break;
               case "ProServices":
                   ProServices = "active";
                   break;
               case "AddDocumentsTypes":
                   AddDocumentsTypes = "active";
                   break;
               case "SelectMyCompany":
                   SelectMyCompany = "active";
                   break;
               case "Invoices":
               Invoices = "active";
               break;
           }
       }
    <!-- navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
            <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
                <i class="fas fa-align-left"></i>
            </a>
            <a href="#" class="navbar-brand font-weight-bold text-uppercase text-base">
                Right One Management Consultancy
            </a>
            <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
                <li class="nav-item">
                    <form id="searchForm" class="ml-auto d-none d-lg-block">
                        <div class="form-group position-relative mb-0">
                            <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0">
                                <i class="o-search-magnify-1 text-gray text-lg"></i>
                            </button>
                            <input type="search" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
                        </div>
                    </form>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a id="notifications" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i><span class="notification-icon"></span></a>
                    <div aria-labelledby="notifications" class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 2 followers</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-green text-white"><i class="fas fa-envelope"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 6 new messages</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-blue text-white"><i class="fas fa-upload"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">Server rebooted</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 2 followers</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div><a href="#" class="dropdown-item text-center"><small class="font-weight-bold headings-font-family text-uppercase">View all notifications</small></a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="~/Content/img/avatar-6.jpg" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
                    <div aria-labelledby="userInfo" class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            <strong class="d-block text-uppercase headings-font-family">@Session["AdminName"]</strong>
                            <small>Designation</small>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Activity log</a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("AdminLogout","AdminAuth")" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","Home")" class="sidebar-link text-muted @MyCompany">
                        <i class="o-home-1 mr-3 text-gray"></i>
                        <span>My Company</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","Admin")" class="sidebar-link text-muted @ManageAdmins">
                        <i class="o-sales-up-1 mr-3 text-gray"></i>
                        <span>Manage Admins</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","Company")" class="sidebar-link text-muted @ManageCompanies">
                        <i class="o-table-content-1 mr-3 text-gray"></i>
                        <span>Manage Companies</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","CompanyOwners")" class="sidebar-link text-muted @CompanyOwners">
                        <i class="o-survey-1 mr-3 text-gray"></i>
                        <span>Company Owners</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","ProServices")" class="sidebar-link text-muted @ProServices">
                        <i class="o-paperwork-1 mr-3 text-gray"></i>
                        <span>Pro Services</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","Invoices")" class="sidebar-link text-muted @Invoices">
                        <i class="o-paperwork-1 mr-3 text-gray"></i>
                        <span>Invoices</span>
                    </a>
                </li>
            </ul>
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">EXTRAS</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item">
                    <a href="@Url.Action("Index","DocumentsTypes")" class="sidebar-link text-muted @AddDocumentsTypes">
                        <i class="o-database-1 mr-3 text-gray"></i>
                        <span>Add Documents Types</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@Url.Action("SelectMyCompany","Company")" class="sidebar-link text-muted @SelectMyCompany">
                        <i class="o-imac-screen-1 mr-3 text-gray"></i>
                        <span>Select My Company</span>
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
                @RenderBody()
            </div>
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-left text-primary">
                            <p class="mb-2 mb-md-0">Right One &copy; 2018-2021</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/front.js"></script>
</body>
</html>